
/* styles for the body of the site */
body {
    background-color: gold;
  width: 60%;
  background-color: lightsteelblue;
  padding: 0 20px 20px 20px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* styles for headline */
h1 {
  color: blueviolet;
}

/* styles for subheadline */
h2 {
  color: black;
}

/* styles for paragraph */
p {
    color: black;
}

/* sytels for quote paragrpah  */
p.quote {color: darkred; font-size: 35px; font-family: sans-serif;}
#main-quote.quote {border-style: solid;olor: darkred; font-size: 35px; font-family: sans-serif;}

/* styles for image */
img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;

}
.Open::before {
    content: '🎮 ';
}